/*@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900');*/
@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri.ttf"); }

body {
  font-family: 'Calibri';
  font-size: 1rem; }

* {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  display: inline-block; }
  ul li {
    padding: 0;
    margin: 0;
    list-style: none; }

section {
  padding: 4rem 0; }

.btn {
  min-width: 300px;
  padding: 1rem;
  font-size: 1.24rem;
  font-weight: 600;
  font-family: 'Calibri'; }

.btn-default {
  border: 1px solid #008D40;
  background-color: #008D40;
  border-radius: 0;
  color: #ffffff;
  transition: all 0.4s; }

.btn-white {
  border: 1px solid #ffffff;
  border-radius: 0;
  background-color: #ffffff;
  color: #008D40;
  transition: all 0.4s; }

.btn-default:hover, .btn-default:focus {
  background: #007636;
  border-color: #007636;
  color: #ffffff; }

.btn-white:hover, .btn-white:focus {
  background: #e8e8e8;
  border-color: #e8e8e8;
  color: #007636; }

.quick_links ul li {
  float: left;
  margin-right: 1rem; }
  .quick_links ul li a {
    background-color: #008D40;
    border-radius: 100%;
    padding: 0.75rem;
    display: inline-block;
    line-height: 1.5rem; }

header {
  min-width: 100%;
  min-height: 60px;
  position: fixed; }
  header nav {
    padding: 0; }
    header nav .navbar-brand {
      text-decoration: none;
      outline: none; }
      header nav .navbar-brand img {
        max-height: 60px; }
    header nav ul li {
      padding-right: 1rem; }
      header nav ul li a {
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem !important;
        text-transform: uppercase; }
        header nav ul li a.active {
          background-color: #008D40; }
        header nav ul li a:hover, header nav ul li a:focus {
          text-decoration: none;
          color: #ffffff; }

section.section-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), rgba(0, 0, 0, 0.4) url("../img/daylight-desert-drought.jpg") no-repeat;
  background-size: cover;
  height: 100vh; }
  section.section-1 .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
    section.section-1 .container .left-content {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    section.section-1 .container .right-content {
      margin-top: 5rem;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      section.section-1 .container .right-content h1 {
        color: #ffffff;
        font-weight: 800; }
        section.section-1 .container .right-content h1 span {
          font-weight: 300;
          font-size: 70px;
          line-height: 80px; }
      section.section-1 .container .right-content .btn-flow {
        margin-bottom: 1rem;
        padding: 2rem 0; }
        section.section-1 .container .right-content .btn-flow a {
          margin-bottom: 1rem; }
          section.section-1 .container .right-content .btn-flow a.btn:nth-child(1) {
            margin-right: 1.25rem; }

/******* media queries ***********/
@media (min-width: 990px) {
  section.section-1 .container .right-content h1 {
    font-size: 70px;
    line-height: 80px; }
    section.section-1 .container .right-content h1 span {
      font-size: 55px;
      line-height: 80px; } }

@media (min-width: 1441px) {
  section.section-1 .container .right-content h1 {
    font-size: 80px;
    line-height: 90px; }
    section.section-1 .container .right-content h1 span {
      font-size: 60px;
      line-height: 90px; } }

@media (min-width: 1601px) {
  section.section-1 .container .right-content h1 {
    font-size: 100px;
    line-height: 110px; }
    section.section-1 .container .right-content h1 span {
      font-size: 80px;
      line-height: 90px; } }

@media (max-width: 990px) {
  section.section-1 .container .right-content h1 {
    font-size: 60px;
    line-height: 70px; }
    section.section-1 .container .right-content h1 span {
      font-size: 50px;
      line-height: 70px; } }

@media (min-width: 767px) and (max-width: 1050px) {
  .btn {
    min-width: 250px; } }
