/*@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900');*/
@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri.ttf");
}
$primary-color: #008D40;
$white: #ffffff;
$primary-hover:#007636;
body{font-family: 'Calibri';font-size: 1rem;}
*{padding: 0;margin: 0;}
ul{padding: 0;display: inline-block;
  li{
    padding: 0;margin: 0;list-style: none;
  }
}
section{padding: 4rem 0;}
.btn{min-width: 300px;padding: 1rem;font-size: 1.24rem;font-weight: 600;font-family: 'Calibri';}
.btn-default{border: 1px solid $primary-color;background-color:$primary-color;border-radius: 0;color: $white;transition: all 0.4s;}
.btn-white{border: 1px solid $white;border-radius: 0;background-color: $white; color: $primary-color;transition: all 0.4s;}
.btn-default:hover, .btn-default:focus{background: $primary-hover;border-color: $primary-hover;color:$white;}
.btn-white:hover, .btn-white:focus{background: #e8e8e8;border-color: #e8e8e8;color: $primary-hover;}
.quick_links ul li {float: left;margin-right: 1rem;
  a{background-color: #008D40;border-radius: 100%;padding: 0.75rem;display: inline-block;line-height: 1.5rem;
  }
}
header {min-width: 100%;min-height: 60px;position: fixed;
  nav {padding: 0;
    .navbar-brand {text-decoration: none;outline: none;
      img {max-height: 60px;}
    }
    ul {
      li {
        padding-right: 1rem;
        a{color:$white;font-size: 1rem;font-weight: 500;padding: 1rem!important;text-transform: uppercase;
          &.active{
            background-color: $primary-color;
          }
          &:hover, &:focus{text-decoration: none;color: $white;}
        }
      }
    }
  }
}
section.section-1{
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  rgba(0,0,0,0.4) url("../img/daylight-desert-drought.jpg") no-repeat;background-size: cover;height: 100vh;
  .container{display: -webkit-flex;display: -ms-flexbox;display: flex; height: 100%;
    .left-content{
      height: 100%;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;
    }
    .right-content{margin-top:5rem;height: 100%;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;
      h1{color: $white;font-weight: 800;
        span{font-weight: 300;font-size: 70px;line-height: 80px;
        }
      }
      .btn-flow{margin-bottom: 1rem;padding: 2rem 0;
        a{margin-bottom: 1rem;
          &.btn:nth-child(1){margin-right: 1.25rem;}
        }
      }
    }
  }
}


/******* media queries ***********/
@media (min-width: 990px) {
  section.section-1{
    .container{
      .right-content{
        h1{font-size: 70px;line-height: 80px;
          span{font-size: 55px;line-height: 80px;}
        }
      }
    }
  }
}
@media (min-width: 1441px) {
  section.section-1{
    .container {
      .right-content {
        h1{font-size: 80px;line-height: 90px;
          span{font-size: 60px;line-height: 90px;}
        }
      }
    }
  }
}
@media (min-width: 1601px) {
  section.section-1{
    .container {
      .right-content {
        h1{font-size: 100px;line-height: 110px;
          span{font-size: 80px;line-height: 90px;}
        }
      }
    }
  }
}
@media (max-width: 990px) {
  section.section-1{
    .container {
      .right-content {
        h1{font-size: 60px;line-height: 70px;
          span{font-size: 50px;line-height: 70px;}
        }
      }
    }
  }
}
@media (min-width: 767px) and (max-width: 1050px) {
  .btn {min-width: 250px;}
}

@media (max-width: 576px) {
  .btn{}
}